<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHULN7-bpVrV3KMnCzXRu0B91xSPuOaz4</string>
	<key>GCM_SENDER_ID</key>
	<string>531529816888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mau.udm.thyroidapp</string>
	<key>PROJECT_ID</key>
	<string>thyroidapp-cf70d</string>
	<key>STORAGE_BUCKET</key>
	<string>thyroidapp-cf70d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531529816888:ios:005e40993b4bfd1b357fcd</string>
</dict>
</plist>